* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62%;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   padding: 15px;
}

.calculator   {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid gray;
    font-size: 2rem;
}

.calculator-display {
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    color: azure;
    border: 1px solid gray;
    background-color: rgb(68, 68, 68);
    overflow-x: auto;
}

.calculator-keypad {
    display: flex;
    width: 100%;
}

.keypad-numbers {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.keypad-button {
    width: 25%;
    padding: 15px 0;
    text-align: center;
    color: white;
    cursor: pointer;
    background-color: rgb(52, 58, 66);
    border: 1px solid gray;
}

.keypad-button:hover {
    filter: brightness(80%);
    transition: filter .25s;
}

.keypad-button.yellow {
    background-color: rgb(42, 95, 126);
}
.keypad-button.large {
    width: 50%;
}
.keypad-button.dark {
    background-color: rgb(42, 95, 126);
}